* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none !important;
}
.topbar{
    height:40px !important;
}

.category-item {
    display: inline-block;
    border: 1px solid #4E73DF;
    padding: 10px 20px;
    font-size: 15px;
    border-radius:10px;
    cursor:pointer;
}
    .category-item a {
        color: #4E73DF;
    }

    .category-item:hover {
        background: #4E73DF;
    }
    .category-item:hover .category-item-a{
        color:white
    }
.form-control {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background:white !important;
}
.foods{
    width:100%;
}

.foods{
    display:flex;
}
tbody{
    width:100%;
    height:40%;
}
.foods tr{
    width:100%;
    height:40%;
}
.foods-item {
    position: relative;
    width: 25%;
    height:20%;
    background: white;
    padding: 10px 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;
    text-align: center;
    margin-right: 10px; margin-top:10px;
}
.foods-item-img{
    max-width:100%;
    max-height:100%;
    border-radius:10px;
}
.foods-item-name {
    color: black;
    font-size:15px;
    height:35px;
    overflow: hidden;

}
.order-wrapper{
    width:100%;
    height:90vh;
    background:white;
    border: #4E73DF 2px solid;
    border-radius: 5px;
}
.desk{
    padding-top:20px;
    margin-left:20px;
    font-weight:700;
    color:black;
    display:flex;
    align-items:center;
    gap:10px
}
    .table i {
        color: #7A7A7A
    }
.order-item{
    width:100%;
    display:flex;
    align-items:center;
    gap:25px;
    margin-left:20px
}
.item-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.order-item{
    color:black
}
.quantity{
     text-align:center;
     outline:none !important;
     border:none !important;
     width:20px !important;
     margin:0 10px;
 }
.change-quantity {
    text-align: center;
    width: 30px;    
    border: none;
    border-radius: 10px;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}
.item-name{
    font-weight:700;
}
.btn-clearfood {
    border: none;
    background:none;
    border:1px solid black;
    border-radius:100%;
    height:25px;
    width:25px
}
.order{
   height:60%;
   overflow:scroll;
}
.purchase{
    width:100%;
    position: absolute;
    bottom: 0;
}

.btn-purchase {
    width: 47%;
    outline: none;
    border: none;
    padding: 20px 30px;
    background: #4E73DF;
    color:white;
    font-weight:700;
}
.btn-purchase:nth-child(1){
    border-right: 1px solid white;
}
.purchase>span:first-child{
    margin-left:20px;
    font-size:20px;
    font-weight:700
}
.purchase > span:nth-child(2) {
    position:absolute;
    right:75px;
    color:black;
    font-weight:700;
    font-size: 20px;
}
.table-menu{
   width:100% !important;
   overflow:visible !important;
}
.table-menu>tbody>tr>td{
    font-weight:500 !important;
    color:black; 
    width:150px !important;
    line-height:50px;
}
.btn-func>i{
    color: #4E73DF;
    padding:0 10px;
}   
.quantity-picker{
    border: none !important;
    
}
.quantity-display{
    font-size: 20px !important;
}
.quantity-modifier{
    width: 30px !important;
    font-size: 15px !important;
    border-radius:10px;
}